.custom-background-transparentwhite{
	color: black;
	background-color: rgba(255,255,255,.7);
}

.custom-background-yellow{
	color: rgba(11, 0, 79);
	background-color: rgba(255, 245, 189);
}

.custom-background-whiteblue{
	color: rgba(11, 0, 79);
	background-color: rgba(255, 255, 255);
}

.custom-background-bluewhite{
	background-color:rgba(11, 0, 79, 1);
	color:rgba(255,255,255,1);
}

.custom-background-silver{
	background-color: #F8F8F8;
	color: #777;
}

.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .navbar-link{
    color: rgba(255,255,255,.5) ;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.jumbotronCustom{
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 width: 100%;
}
